<div class="about-lines">
    <div class="about-container">
        <div class="about-container-left">
            <div class="about-container-left-img">
                <img src="images/about-img.png" alt="My image">
            </div>
            <div class="about-container-left-btns">
                <div class="about-container-left-btn-left">
                    <div>CONTACT ME</div>
                </div>
                <a href="includes/resume.pdf" download="Zavizenov_Gleb_Resume" class="about-container-left-btn-right">
                    <div>DOWNLOAD RESUME</div>
                </a>
            </div>
        </div>
        <div class="about-container-right">
            <div class="about-container-right-content">
                <h1 class="about-container-right-heading">Gleb Zavizenov</h1>
                <h3 class="about-container-right-title">About me</h3>
                <p class="about-container-right-desc about-container-right-desc-one">
                    Hello! I am a junior web-developer based in London, Ontario. I have been
                    learning and practicing web design and development for more than 3 years
                    now. I am passionate about this area and want to learn about it as much
                    as possible. I am open to all offers, be sure to contact me if you have
                    an idea for a website!  
                </p>
                <div class="about-container-right-add">
                    <div class="container-right-add-block">
                        <h3 class="about-container-right-title">Education</h3>
                        <p class="about-container-right-desc">Fanshawe College</p>
                    </div>
                    <div class="container-right-add-line"></div>
                    <div class="container-right-add-block">
                        <h3 class="about-container-right-title">Work</h3>
                        <p class="about-container-right-desc">None yet</p>
                    </div>
                </div>
                <div class="slider">
                    <h3 class="about-container-right-title">Technologies I use</h3>
                    <div class="slider-core">
                        <div class="slider-arrow slider-arrow-left">
                            <img src="images/left-arrow.svg" alt="left-arrow">
                        </div>
                        <div class="slider-container">
                            <div class="slider-items" style="left:0;">
                                {{#each techs}}
                                <a href="{{ID}}" class="slider-item">
                                    <img src="images/{{tech_img}}" alt="{{tech_name}}">
                                </a>
                                {{/each}}
                            </div>
                        </div>
                        <div class="slider-arrow slider-arrow-right">
                            <img src="images/right-arrow.svg" alt="right-arrow">
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Popup that descrives a selected technology --}}
<div class="technology-popup">
    <div class="close-btn">
        <svg viewBox="0 0 202 202" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="200" height="200" stroke="#1A1A1A"/>
            <path d="M161 34L168.071 41.0711L40.7919 168.35L33.7208 161.279L161 34Z" fill="#1A1A1A"/>
            <path d="M34 41L41.0711 33.9289L168.35 161.208L161.279 168.279L34 41Z" fill="#1A1A1A"/>
        </svg>
    </div>
    <div class="technology-popup-container">
        <img src="" alt="">
        <h2></h2>
        <p></p>
    </div>
</div>