<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="images/favicon.png">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    <title>Zavizenov Gleb</title>
</head>
<body class="adaptive-body">
    <div class="mobile-nav">
        <div class="nav-close">
            <img src="images/close-btn.svg" alt="close button">
        </div>
        <div class="mobile-nav-container">
            <a href="/" class="mobile-nav-link">Home</a>
            <a href="/projects" class="mobile-nav-link">Portfolio</a>
            <a href="/about" class="mobile-nav-link">About Me</a>
        </div>
    </div>
    {{!-- Header --}}
    <header>
        <div class="header-container">
            <a href="/" class="header-logo">
                <img src="images/logo.svg" alt="logo">
            </a>
            <div class="header-nav">
                <a href="/" class="header-nav-link">Home</a>
                <a href="/projects" class="header-nav-link">Portfolio</a>
                <a href="/about" class="header-nav-link">About Me</a>
            </div>
            <div class="header-burger">
                <img src="images/burger.svg" alt="burger menu">
            </div>
        </div>
    </header>
    {{!-- Main --}}
    <main class="adaptive-main">
        {{{ body }}}
    </main>
    {{!-- Footer --}}
    <footer>
        <div class="footer-container">
            <div class="footer-nav">
                <a href="/" class="footer-nav-link">Home</a>
                <a href="/projects" class="footer-nav-link">Portfolio</a>
                <a href="/about" class="footer-nav-link">About Me</a>
            </div>
            <div class="footer-socials">
                <a href="mailto: gleb.zavizenov@gmail.com" target="_blank" class="footer-socials-icon">
                    <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60 0H0V60H60V0ZM30.0588 32.6676H30.0502C29.6901 32.6676 29.348 32.5545 29.1082 32.3559L10.0804 16.6726C10.1167 16.6428 10.1622 16.625 10.2113 16.625H49.788C49.8563 16.625 49.9204 16.6605 49.958 16.7125L31.7712 31.7206L31.0092 32.351C31.001 32.3565 30.9928 32.3615 30.9847 32.3665C30.978 32.3705 30.9715 32.3745 30.9651 32.3787L30.8997 32.4207C30.6585 32.5801 30.3604 32.6676 30.0588 32.6676ZM10 40.998V18.7516L23.6307 29.9868L10 40.998ZM50 41.0037L36.3835 30.0615L50 18.8256V41.0037ZM30.0559 34.3239C30.8015 34.3239 31.5115 34.0784 32.0543 33.633L35.078 31.1373L49.9999 43.1267V43.1622C49.9999 43.2775 49.9025 43.375 49.7887 43.375H10.2141C10.0982 43.375 10 43.2775 10 43.1629V43.1246L24.9348 31.0618L28.0567 33.6365C28.5981 34.0798 29.3075 34.3239 30.0559 34.3239Z" fill="#F7F7F7"/>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/gleb-zavizenov-a65913178/" target="_blank" class="footer-socials-icon">
                    <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.4922 26.9473V26.8596C32.4743 26.889 32.4495 26.9184 32.434 26.9473H32.4922Z" fill="#F7F7F7"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V60H60V0H0ZM18.6622 49.8464H9.76035V23.0645H18.6622V49.8464ZM14.2113 19.4091H14.1525C11.1663 19.4091 9.23077 17.3519 9.23077 14.7804C9.23077 12.1526 11.2229 10.1536 14.2696 10.1536C17.3169 10.1536 19.1896 12.1526 19.2479 14.7804C19.2479 17.3519 17.3169 19.4091 14.2113 19.4091ZM50.7692 49.8464H41.865V35.518C41.865 31.9192 40.5785 29.4626 37.3557 29.4626C34.8946 29.4626 33.432 31.1167 32.7877 32.7189C32.5535 33.2912 32.4923 34.0867 32.4923 34.8893V49.8465H23.5863C23.5863 49.8465 23.7057 25.5771 23.5863 23.0647H32.4923V26.8597C33.6756 25.039 35.7872 22.4359 40.5173 22.4359C46.3771 22.4359 50.7692 26.2627 50.7692 34.4884V49.8464Z" fill="#F7F7F7"/>
                    </svg>
                </a>
                <a href="https://github.com/gleb-zavizenov" target="_blank" class="footer-socials-icon">
                    <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60 0H0V60H60V0ZM45.9927 24.6493C45.9693 25.804 45.8767 26.8338 45.7283 27.773C44.8119 33.5242 39.725 35.7115 34.8274 36.2141C36.5163 37.2777 37.0009 38.6123 37.0009 42.22C37.0009 44.4365 36.983 45.4751 36.9716 46.1388C36.9644 46.556 36.9598 46.8251 36.9637 47.1454C36.9755 47.9941 37.7544 48.5663 38.3221 48.9835C38.6659 49.2361 38.9324 49.4319 38.9041 49.5977C38.8293 50.0362 37.2336 49.9652 36.4877 49.7039C34.3748 48.9692 34.5859 47.2087 34.5859 47.2087L34.2679 42.3842C34.2679 42.3842 34.0857 39.7873 33.2037 39.7873V47.6875C33.2037 48.7543 33.7655 49.3599 34.1901 49.8177C34.4481 50.0958 34.6555 50.3193 34.6555 50.5585C34.6555 51.6508 32.5823 50.4556 31.9056 49.7744C30.9864 48.851 31.0291 47.0065 31.0667 45.3871C31.0712 45.1903 31.0757 44.9968 31.0784 44.8087C31.102 43.1328 31.0941 39.4646 31.0941 39.4646L30.4102 39.4794C30.4102 39.4794 30.704 47.4889 30.048 48.9511C29.2001 50.8231 26.6436 51.4692 26.6436 50.6139C26.6436 50.3653 26.7626 50.259 26.9259 50.1131C27.139 49.9228 27.4274 49.6651 27.6251 48.9361C27.9228 47.8411 27.8224 39.6736 27.8224 39.6736C27.8224 39.6736 27.0025 40.1607 27.0025 41.6908C27.0025 41.9948 26.9989 42.9204 26.9948 43.9679C26.9896 45.3334 26.9835 46.9061 26.9835 47.5794C26.9835 49.0768 24.857 49.9281 23.835 49.9281C23.3178 49.9281 22.6743 49.9021 22.6743 49.6272C22.6743 49.3444 22.9998 49.1095 23.3845 48.8321C23.9399 48.4315 24.6186 47.942 24.6186 47.0909C24.6186 45.839 24.5919 42.6292 24.5919 42.6292C24.5919 42.6292 23.6116 42.7946 22.2119 42.7946C18.6863 42.7946 17.5711 40.5456 17.0409 39.286C16.3506 37.6453 15.455 36.8786 14.5041 36.2618C13.9192 35.882 13.785 35.4366 14.4604 35.3102C16.3356 34.9565 17.3722 36.305 18.353 37.5809C19.0047 38.4288 19.6317 39.2445 20.4638 39.5074C21.9514 39.9751 23.8643 39.7719 24.8153 39.157C24.941 37.896 25.8496 36.8076 26.6065 36.2326C21.5769 35.7518 16.4567 32.9641 15.2278 26.5023C15.1417 25.7597 15.0909 24.9879 15.0909 24.1711C15.0909 20.8281 16.113 19.5267 17.4975 17.7637C17.5254 17.7282 17.5535 17.6925 17.5816 17.6566C16.4907 13.7661 17.9737 11.1067 17.9737 11.1067C17.9737 11.1067 20.2677 10.6332 24.6049 13.7388C26.9556 12.7306 33.2239 12.6458 36.1901 13.5141C38.0093 12.3124 41.339 10.6053 42.682 11.082C43.0461 11.6662 43.8291 13.3727 43.1574 17.1243C43.2431 17.2787 43.3963 17.4658 43.5887 17.7008C44.4207 18.7169 45.9854 20.628 45.9927 24.6493Z" fill="#F7F7F7"/>
                    </svg>
                </a>
                <a href="https://www.behance.net/glebzavized3d6" target="_blank" class="footer-socials-icon">
                    <svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9063 31.9866C23.1682 31.4267 22.1838 31.1482 20.9728 31.1482H14.8569V38.1841H20.8601C21.4154 38.1841 21.9421 38.135 22.4376 38.0241C22.9407 37.9141 23.387 37.7397 23.7632 37.4821C24.1394 37.2343 24.451 36.8946 24.6776 36.4626C24.9049 36.0344 25.0138 35.4782 25.0138 34.8065C25.0138 33.4894 24.6434 32.5547 23.9063 31.9866Z" fill="#F7F7F7"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.025 26.5917C23.6721 26.1194 23.9858 25.3387 23.9858 24.2681C23.9858 23.6735 23.8816 23.1822 23.6721 22.8009C23.4552 22.4196 23.1681 22.1211 22.8052 21.9123C22.4452 21.6948 22.0386 21.5446 21.5668 21.4637C21.1036 21.3731 20.6175 21.3376 20.1199 21.3376H14.8567V27.308H20.5492C21.5461 27.308 22.3713 27.0716 23.025 26.5917Z" fill="#F7F7F7"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V60H60V0H0ZM36.3476 18.6992H46.7045V21.2205H36.3476V18.6992ZM29.882 38.4669C29.3818 39.4168 28.7006 40.1866 27.861 40.7806C27.0149 41.38 26.0428 41.8195 24.9541 42.1056C23.8778 42.3918 22.7598 42.5358 21.6152 42.5358H9.23077V16.9851H21.2771C22.4993 16.9851 23.6022 17.0908 24.6103 17.3093C25.6127 17.522 26.4683 17.8768 27.1912 18.3633C27.9028 18.8499 28.4599 19.497 28.8587 20.3123C29.2481 21.1154 29.4434 22.1211 29.4434 23.3102C29.4434 24.5964 29.1516 25.6708 28.5679 26.5296C27.9795 27.387 27.1155 28.0907 25.9605 28.6369C27.5333 29.0888 28.6978 29.8847 29.4699 31.0164C30.2459 32.1559 30.6258 33.5192 30.6258 35.1177C30.6257 36.4133 30.3775 37.529 29.882 38.4669ZM50.7369 34.5088H37.387C37.387 35.9713 37.8815 37.356 38.6453 38.0992C39.406 38.8426 40.5061 39.2163 41.931 39.2163C42.9562 39.2163 43.8421 38.9571 44.5849 38.4408C45.3211 37.9249 45.7692 37.3734 45.9426 36.8007H50.4175C49.6985 39.0277 48.607 40.6175 47.1185 41.5746C45.6471 42.5358 43.8524 43.0147 41.7615 43.0147C40.3042 43.0147 38.9929 42.7788 37.8152 42.3141C36.6384 41.8436 35.6549 41.1843 34.8278 40.3249C34.0215 39.4613 33.3952 38.4409 32.949 37.2418C32.5075 36.0493 32.2847 34.7291 32.2847 33.2983C32.2847 31.915 32.5159 30.6226 32.9678 29.4282C33.4292 28.2297 34.0669 27.1956 34.9055 26.3281C35.7459 25.456 36.7426 24.7676 37.9033 24.2651C39.064 23.7642 40.3439 23.5122 41.7615 23.5122C43.3266 23.5122 44.6976 23.8134 45.8726 24.427C47.0436 25.032 48.0034 25.8521 48.7576 26.8787C49.5117 27.9034 50.048 29.0755 50.3835 30.3901C50.7161 31.7024 50.8327 33.0735 50.7369 34.5088Z" fill="#F7F7F7"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.6088 27.3492C40.7969 27.3492 40.1251 27.4857 39.587 27.7642C39.0611 28.039 38.6301 28.3809 38.3004 28.7836C37.9726 29.193 37.7489 29.625 37.6192 30.0869C37.4885 30.537 37.4108 30.9454 37.3871 31.3064H45.6548C45.5335 30.0107 45.09 29.0528 44.4837 28.3792C43.88 27.7106 42.8567 27.3492 41.6088 27.3492Z" fill="#F7F7F7"/>
                    </svg>
                </a>
            </div>
        </div>
    </footer>
    {{!-- Credits for icons --}}
    <div class="hidden">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div class="hidden">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div class="hidden">Chris Williams [Public domain], <a href="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg">via Wikimedia Commons</a></div>
    <div class="hidden"><a title="Evan You, https://github.com/yyx990803 [CC BY 4.0 (https://creativecommons.org/licenses/by/4.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Vue.js_Logo_2.svg"><img width="512" alt="Vue.js Logo 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/512px-Vue.js_Logo_2.svg.png"></a></div>
    <div class="hidden">Figma [Public domain], <a href="https://commons.wikimedia.org/wiki/File:Figma-logo.svg">via Wikimedia Commons</a></div>
    <div class="hidden">Adobe Systems [Public domain], <a href="https://commons.wikimedia.org/wiki/File:Adobe_XD_CC_icon.svg">via Wikimedia Commons</a></div></div>
    <div class="hidden">http://sass-lang.com/ [Public domain], <a href="https://commons.wikimedia.org/wiki/File:Sass_Logo_Color.svg">via Wikimedia Commons</a></div>
    <div class="hidden"><div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></div>
    {{!-- Scripts --}}
    <script src="js/main.js"></script>
</body>
</html>