<div class="home-lines">
    <div class="home-container contatcs-success-container">
        <iframe src="https://giphy.com/embed/3ohzgSHpvk6b8M7f9e" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p class="hidden">
            <a href="https://giphy.com/gifs/dance-happy-3ohzgSHpvk6b8M7f9e">via GIPHY</a>
        </p>
        <h1 class="home-right-heading contacts-success">Message sent successfully!</h1>
    </div>
</div>