// 
// Styles for the mobile version
// 
.about-lines{
    width:320px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/mobile-grid.png");
}

.about-container{
    width:318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:110px;
    overflow: hidden;
}

.about-container-left{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container-left-img{
    width:100%;

    img{
        width:100%;
    }
}

.about-container-left-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container-left-btn-left{
    width:205px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    transition: 0.7s all ease-in-out;

    div{
        color:$grey;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 500;
    }
}

.about-container-left-btn-left:hover{
    box-shadow: 0px 0px 8.5px 1.5px rgba(145, 225, 158, 0.5);     
}

.about-container-left-btn-right{
    width:205px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid $black;
    transition: 0.7s all ease-in-out;
    margin-top:15px;

    div{
        color:$black;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 500;
    }
}

.about-container-left-btn-right:hover{
    background-color: $black;

    div{
        color:$grey;
    }
}

.about-container-right{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;
}

.about-container-right-content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container-right-heading{
    font-size: 36px;
    font-family: "Barlow";
    font-weight: 500;
    color:$black;
    margin-bottom: 45px;  
}

.about-container-right-title{
    font-size: 24px;
    font-family: "Barlow";
    font-weight:500;
    color:$black;    
    margin-bottom: 20px;
}

.about-container-right-desc{
    font-size: 18px;
    font-family: "Montserrat";
    color: $black;
    font-weight: 300;
    line-height: 1.333;    
    text-align: center;
}

.about-container-right-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:35px;
}

.container-right-add-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-right-add-line{
    width:160px;
    height:2px;
    background-color: $black;
    margin-top:25px;
    margin-bottom: 25px;
}

.slider{
    margin-top:35px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.slider-core{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider-arrow{
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width:100%;
    }
}

.slider-container{
    width:200px;
    height:60px;
    overflow: hidden;
    position: relative;
}

.slider-items{
    position: absolute;
    top:0;
    left:0;
    width:550px;
    display: flex;
    flex-direction: row;
    align-items: center;

    :last-child{
        margin-right:0px;
    }
}

.slider-item{
    width:60px;
    margin-right:10px;

    img{
        width:100%;
    }
}

// 
// Styles for the tablet version
//
@media screen and (min-width:720px){
    .about-lines{
        width:720px;
        background: url("../images/tablet-grid.png");
        background-size:100%;
    }

    .about-container{
        width:718px;
        margin-top:150px;
    }

    .about-container-left-btns{
        flex-direction: row;
        align-items: center;
    }

    .about-container-left-btn-left{
        width:255px;
        height:70px;

        div{
            font-size:20px;
        }
    }

    .about-container-left-btn-right{
        margin-top:0px;
        width:255px;
        height:70px;
        margin-left:25px;

        div{
            font-size:20px;
        }
    }

    .about-container-right{
        margin-top:90px;
        align-items: center;
    }

    .about-container-right-content{
        width:680px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-container-right-heading{
        font-size:82px;
        margin-bottom: 60px;
    }

    .about-container-right-title{
        font-size:36px;
        margin-bottom: 30px;
    }

    .about-container-right-desc{
        font-size:24px;
    }

    .about-container-right-desc-one{
        text-align: left;
    }

    .about-container-right-add{
        margin-top:45px;
        flex-direction: row;
        align-items: center;
    }

    .container-right-add-block{
        align-items: flex-start;
    }

    .container-right-add-line{
        width:2px;
        height:60px;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:60px;
        margin-right: 60px;
    }

    .slider{
        margin-top:45px;
        margin-bottom: 180px;
        align-items: flex-start;
    }

    .slider-core{
        margin-top:5px;
    }

    .slider-arrow{
        width:5%;
    }

    .slider-container{
        height:80px;
        width:440px;
    }

    .slider-items{
        height:80px;
        width:920px;
    }

    .slider-item{
        width:80px;
        height:80px;
        margin-right:40px;

        img{
            width:100%;
        }
    }
}

// 
// Styles for the desktop version
// 
@media screen and (min-width:1200px){
    .about-lines{
        width:1200px;
        background: url("../images/desktop-grid.png");
        background-size:100%;
    }

    .about-container{
        margin-top:0px;
        width:1198px;
        flex-direction: row;
        align-items: center;
    }

    .about-container-left{
        width:50%;
    }

    .about-container-left-img{
        width:70%;
    }

    .about-container-left-btn-left{
        width:230px;
        height:55px;
        cursor: pointer;

        div{
            font-size:16px;
        }
    }

    .about-container-left-btn-right{
        width:230px;
        height:55px;
        cursor: pointer;

        div{
            font-size:16px;
        }
    }

    .about-container-right{
        margin-top:0px;
        width:50%;
    }

    .about-container-right-content{
        width:550px;
    }

    .about-container-right-heading{
        font-size: 72px;
        margin-bottom: 40px;
    }

    .about-container-right-title{
        font-size:26px;
        margin-bottom: 15px;
    }

    .about-container-right-desc{
        font-size:18px;
    }

    .about-container-right-add{
        margin-top:25px;
    }

    .container-right-add-line{
        margin-left:57px;
        margin-right:57px;
        height: 50px;
    }

    .slider{
        margin-top:25px;
        margin-bottom: 0px;
    }

    .slider-arrow{
        cursor:pointer;
    }

    .slider-container{
        height:60px;
        width:360px;
    }

    .slider-items{
        height:60px;
    }

    .slider-item{
        width:60px;
        height:60px;
    }

}